<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Designed by</span>
    </div>
    <div class="bottom">
      <a href="https://brittanychiang.com"><span>Brittany Chiang</span></a>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
      <span>2018</span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
