<section class="section other-projects">
  <div class="section__title">Publications</div>
  <div class="section__content">
    {% for pub in site.data.publications %}
    <div class="project">
      <div class="project__name">
        <a href="{{pub.doi}}" target="_blank">{{pub.title}}</a>
      </div>
      <p>{{pub.citation}}</p>
      <div class="project__used">
        <a href="{{pub.doi}}"> <span class="project__used__item">DOI</span></a>
        <a href="{{pub.pdf}}"> <span class="project__used__item">PDF</span></a>
      </div>
    </div>
    {% endfor %}

    <a href="{{site.scholar}}" target="_blank" class="arrow-link">More on Google Scholar</a>

  </div>


</section>
